<template>
  <header class="header">
    <div class="container header__container">
      <img src="@/assets/img/logo.svg" alt="Logo">
      <BaseButton>Update Products</BaseButton>
    </div>
  </header>
</template>

<script>
import BaseButton from '@/ui/BaseButton'
export default {
  name: 'AppHeader',
  components: {
    BaseButton
  }
}
</script>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    height: 48px;
    background: $main-color;
    margin-bottom: 16px;
    z-index: 2;

    &__container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
