<template>
  <section class="slider">
    <div class="container">
      <div class="swiper" ref="swiper">
        <div class="swiper-wrapper">
          <div
              class="swiper-slide slider__slide"
              v-for="(item, idx) in images"
              :key="idx"
          >
            <img :src="item" alt="">
          </div>
        </div>
        <div class="swiper-button-prev">
          <img src="../assets/svg/slider-arrow.svg" alt="">
        </div>
        <div class="swiper-button-next">
          <img src="../assets/svg/slider-arrow.svg" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper'
import 'swiper/css/swiper.min.css'

export default {
  name: 'MainSlider',
  props: {
    images: {
      type: Array,
      default () {
        return []
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initSlider()
    })
  },
  methods: {
    initSlider () {
      const slider = new Swiper(this.$refs.swiper, {
        loop: true,
        slidesPerView: 1,
        breakpoints: {
          744: {
            slidesPerView: 3,
            spaceBetween: 30
          }
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      })
      return slider
    }
  }
}
</script>

<style lang="scss">
  .slider {
    margin-bottom: 32px;
    @include breakpoints($mobile) {
      margin-bottom: 16px;
    }
    @include breakpoints($tablet) {
      margin-bottom: 25px;
    }
    &__slide {
      background-color: #d7d7d7;
      height: 143px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoints($mobile-large) {
        height: 130px;
      }
      @include breakpoints($tablet-small) {
        height: 208px;
      }
      @include breakpoints($tablet) {
        height: 167px;
      }
      @include breakpoints($tablet) {
        height: 187px;
      }
      @include breakpoints($desktop-small) {
        height: 250px;
      }
      @include breakpoints($desktop) {
        height: 272px;
      }
      @include breakpoints($desktop-large) {
        height: 294px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper {
      position: relative;
      overflow: hidden;
      &-button-prev, &-button-next {
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        margin-top: 0;
        transition: background-color 0.15s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
        &::after {
          display: none;
        }
        img {
          margin-left: -4px;
        }
      }
      &-button-prev {
        left: 16px;
      }
      &-button-next {
        right: 16px;
        transform: translateY(-50%) rotate(180deg);
      }
      &-pagination {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        @include breakpoints($mobile) {
          margin-top: 8px;
        }
        @include breakpoints($desktop-large) {
          margin-top: 16px;
        }
        &-bullet {
          width: 8px;
          height: 8px;
          background: #D5D5D5;
          margin: 0 4px;
          opacity: 1;
          @include breakpoints($tablet-small) {
            width: 12px;
            height: 12px;
          }
          &-active {
            background: #5775A9;
          }
        }
      }
    }
  }
</style>
