<template>
  <section class="catalog">
    <div class="container">
      <div class="catalog__row">
        <div
            class="catalog__col"
            v-for="item in products"
            :key="item.id"
        >
          <ProductItem
              :id="item.id"
              :img="item.thumbnail"
              :brand="item.brand"
              :category="item.category"
              :description="item.description"
              :stock="item.stock"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ProductItem from '@/components/ProductItem'
import { EventBus } from '@/event-bus'

export default {
  name: 'ProductCatalog',
  components: {
    ProductItem
  },
  data: () => {
    return {
      products: Object,
      numberProducts: 20,
      step: 0
    }
  },
  mounted () {
    // localStorage.clear()
    const productFromStorage = localStorage.getItem('products')
    productFromStorage
      ? this.products = JSON.parse(productFromStorage)
      : this.getProduct()
    this.getNextProducts()
  },
  methods: {
    async getProduct () {
      await fetch(`https://dummyjson.com/products?limit=${this.numberProducts}&skip=${this.step * this.numberProducts}`)
        .then((response) => response.json())
        .then((data) => {
          this.products = data.products
          localStorage.setItem('products', JSON.stringify(data.products))
        })
        .catch((error) => {
          console.error('Error:', error)
        })
    },
    getNextProducts () {
      EventBus.$on('clicked', () => {
        this.step === 4
          ? this.step = 0
          : this.step++
        this.getProduct()
      })
    }
  }
}
</script>

<style lang="scss">
  .catalog {

    &__row {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include breakpoints($tablet-small) {
        margin: -8px -15px;
      }
      @include breakpoints($desktop) {
        margin-top: -12px;
        margin-bottom: -12px;
      }
    }
    &__col {
      width: 100%;
      @include breakpoints($tablet-small) {
        width: 50%;
        padding: 8px 15px;
      }
      @include breakpoints($tablet) {
        width: 33.3333%;
      }
      @include breakpoints($desktop-small) {
        width: 25%;
      }
      @include breakpoints($desktop) {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      &:not(:last-child) {
        @include breakpointsMax($tablet-small) {
          margin-bottom: 8px;
        }
      }
    }
  }
</style>
