<template>
  <button
      class="btn"
      @click="clickBtn"
  >
    <slot></slot>
  </button>
</template>

<script>
import { EventBus } from '@/event-bus'

export default {
  name: 'BaseButton',
  methods: {
    clickBtn () {
      EventBus.$emit('clicked')
    }
  }
}
</script>

<style lang="scss">
  .btn {
    padding: 8px 16px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      background: #000000;
      color: #FFFFFF;
    }
  }
</style>
