<template>
  <article class="product">
    <div class="product__img">
      <img :src="img" alt="">
      <div
          class="product__label"
          :class="{
            'product__label_top' : id === 1,
            'product__label_sale' : id === 2,
            'product__label_popular' : id === 3,
          }"
      >
        <span v-if="id === 1">Top</span>
        <span v-else-if="id === 2">Sale</span>
        <span v-else-if="id === 3">Popular</span>
      </div>
    </div>
    <div class="product__text">
      <p class="product__brand">
        <strong>Brand: </strong>
        {{ brand }}
      </p>
      <p class="product__category">
        <strong>Category: </strong>
        {{ category }}
      </p>
      <p class="product__description">
        <strong>Description: </strong>
        {{ description }}
      </p>
      <p class="product__stock">
        <strong>In stock: </strong>
        {{ amount }}
      </p>
    </div>
  </article>
</template>

<script>
export default {
  name: 'ProductItem',
  props: {
    id: {
      type: Number,
      default () {
        return 0
      }
    },
    img: {
      type: String,
      default () {
        return ''
      }
    },
    brand: {
      type: String,
      default () {
        return 'Not found'
      }
    },
    category: {
      type: String,
      default () {
        return 'Not found'
      }
    },
    description: {
      type: String,
      default () {
        return 'Not found'
      }
    },
    stock: {
      type: Number,
      default () {
        return 0
      }
    }
  },
  data: () => {
    return {
      amount: Number,
      timeout: Number
    }
  },
  watch: {
    amount () {
      if (this.amount > 0) {
        this.reduceAmount()
      }
    }
  },
  mounted () {
    this.amount = this.stock
    this.timeout = this.randomNumber(1, 4) * 1000
  },
  methods: {
    reduceAmount () {
      setTimeout(() => {
        this.amount = this.amount - 1
      }, this.timeout)
    },
    randomNumber (min, max) {
      return Math.random() * (max - min) + min
    }
  }
}
</script>

<style lang="scss">
  .product {
    height: 100%;
    padding: 5px 5px 2px;
    border: 1px solid #D9D9D9;
    @include breakpoints($mobile) {
      padding: 6px 6px 4px;
    }
    @include breakpoints($mobile-large) {
      padding: 8px 8px 11px;
    }
    @include breakpoints($tablet-small) {
      padding: 6px 6px 30px;
    }
    @include breakpoints($tablet) {
      padding: 5px 5px 7px;
    }
    @include breakpoints($tablet-large) {
      padding: 6px 6px 21px;
    }
    @include breakpoints($desktop) {
      padding: 7px 7px 33px;
    }
    @include breakpoints($desktop-large) {
      padding: 8px 8px 36px;
    }

    &__img {
      position: relative;
      width: 100%;
      padding-bottom: 67%;
      background: #D9D9D9;
      margin-bottom: 2px;
      @include breakpoints($mobile) {
        margin-bottom: 4px;
      }
      @include breakpoints($mobile-large) {
        margin-bottom: 8px;
      }
      @include breakpoints($desktop-large) {
        margin-bottom: 9px;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    &__label {
      height: 25px;
      border-radius: 13px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 0 16px;

      &_top {
        top: 8px;
        left: 8px;
        background: #71C396;
      }

      &_sale {
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        background: #E69349;
      }

      &_popular {
        right: 8px;
        bottom: 8px;
        background: #9B5DE2;
      }
    }

    &__text {
      p {
        font-size: 16px;
        line-height: 19px;
        &:not(:last-child) {
          margin-bottom: 4px;
          @include breakpoints($mobile) {
            margin-bottom: 8px;
          }
        }

        strong {
          font-weight: 600;
        }
      }
    }

    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
    }
  }
</style>
