<template>
  <div id="app">
    <AppHeader/>
    <transition name="shift">
      <MainSlider
          v-if="sliderImages.length === numberSlides"
          :images="sliderImages"
      />
    </transition>
    <ProductCatalog/>
  </div>
</template>

<script>
import AppHeader from '@/modules/AppHeader'
import ProductCatalog from '@/modules/ProductCatalog'
import MainSlider from '@/modules/MainSlider'

export default {
  name: 'App',
  components: {
    AppHeader,
    MainSlider,
    ProductCatalog
  },
  data () {
    return {
      numberSlides: 10,
      sliderImages: [],
      error: false
    }
  },
  mounted () {
    const imagesFromCookies = this.$cookies.get('slider-images')
    imagesFromCookies
      ? this.sliderImages = imagesFromCookies
      : this.getImage()
  },
  methods: {
    isImageUrl (url) {
      const ext = url.match(/\.([^.]+)$|$/)[1]
      switch (ext) {
        case 'mp4':
        case 'mov':
        case 'webm':
          return false
        default :
          return true
      }
    },

    async getImage () {
      while (this.sliderImages.length < this.numberSlides && !this.error) {
        await fetch('https://random.dog/woof.json')
          .then((response) => response.json())
          .then((data) => {
            if (this.isImageUrl(data.url)) {
              this.sliderImages.push(data.url)
            }
            if (this.sliderImages.length === this.numberSlides) {
              this.$cookies.set('slider-images', JSON.stringify(this.sliderImages), '300s')
            }
          })
          .catch((error) => {
            this.error = true
            console.error('Error:', error)
          })
      }
    }
  }
}
</script>

<style lang="scss">
  .shift {
    &-enter-active, &-leave-active {
      transition: 0.5s;
    }
    &-enter, &-leave-to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
</style>
