body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 22px;
  @include breakpoints($mobile) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @include breakpoints($mobile-large) {
    padding-left: 9px;
    padding-right: 9px;
  }
  @include breakpoints($tablet-small) {
    padding-left: 43px;
    padding-right: 43px;
  }
  @include breakpoints($tablet) {
    padding-left: 9px;
    padding-right: 9px;
  }
  @include breakpoints($tablet-large) {
    padding-left: 59px;
    padding-right: 59px;
  }
  @include breakpoints($desktop-small) {
    padding-left: 43px;
    padding-right: 43px;
  }
  @include breakpoints($desktop) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.hidden-mobile {
  @include breakpointsMax($tablet) {
    display: none;
  }
}

.hidden-desktop {
  @include breakpoints($tablet) {
    display: none;
  }
}
