$mobile-small: 320px;
$mobile: 375px;
$mobile-large: 430px;
$tablet-small: 744px;
$tablet: 834px;
$tablet-large: 1024px;
$desktop-small: 1280px;
$desktop: 1440px;
$desktop-large: 1920px;

$main-color: #5775A9;
$black: #111111;
